{% extends "base.html" %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/default.css') }}"/>
    <style>
        .post-body {padding: 0;}
        h1.post-title {text-align: left;}
        #content {
            padding: 30px 0;
            border-top: 1px dashed #ccc;
            border-bottom: 1px dashed #ccc;
            margin-top: 20px;
        }
    </style>
{% endblock %}
{% block content %}
<div class="post-item site-box">
    <h1 class="post-title">{{page_cls.title}}</h1>

    <div id="content" class="post-body">
        {% if page_cls.body %}
        {{ page_cls.body_to_html | safe }}
        {% endif %}
    </div>
</div>
{% if page_cls.canComment == true %}
{% include "_comment.html" %}
{% endif %}
{% endblock %}

{% block script %}
{{ super() }}
{% if page_cls.canComment == true %}
<script src="{{url_for('static', filename='js/comment.js')}}?t=12"></script>
{% endif %}

{% endblock %}
