{% extends "admin.html" %}
{% block tab %}上传文件{% endblock %}
{% block content %}
<style type="text/css">
    .input_cls{
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 16px 18px;
        background-position: 98% 50%;
        cursor: auto;
    }
</style>
<div class="upload-file">
    <p>上传的文件访问路径：/xxxx.jpg</p>
    <form id="upload_form" action="{{ url_for('admin.upload_file') }}" method="post" enctype="multipart/form-data">
        <p><input id="md-file" type="file" name="file" accept="image/*"></p>
        <input id="submit" type="submit" value="上传" class="submit-btn">
    </form>
</div>
{%if file_url%}
    <p>原始链接: <input type="text" value="{{admin.site_url}}{{file_url|safe}}" class="input_cls" id="raw" onclick="copyUrl('raw')"></p>
    <p>markdown: <input type="text" value="![{{file_url}}]({{admin.site_url}}{{file_url|safe}})" class="input_cls" id="markdown"  onclick="copyUrl('markdown')"></p>
{%endif%}
<script type="text/javascript">
    function copyUrl(eid) {
        var Url=document.getElementById(eid);
        Url.select();
        document.execCommand("Copy");
        $('.alert').css('display', '');
        $('#error_msg').html('复制成功');
    }
</script>
{% endblock %}
