
<div class="footer-box">
    <div class="footer">
        <div class="copyright">
            2018-2020  <i class="demo-icon icon-heart"></i>
            <span> {% if admin %}{{ admin.name }}{% else %}{{admin.site_name}}{% endif %}</span>
        </div>
        <span class="powered-by"><a href="http://www.miitbeian.gov.cn/" target="_blank">{% if admin.record_info %}{{ admin.record_info }}{% else %}{% endif %}</a>
        <span>Powered by <a href="{{admin.site_url}}" target="_blank">{{admin.site_name}}</a></span>
        <span class="cnzz-span">{{admin.tongji|safe}}</span>
    </div>
</div>
